.stat-card {
  .card-header {
    color: $primary-color;

    .fa {
      margin-right: 10px;
    }
  }

  .card-block {
    border-bottom: 1px solid darken($site-bg, 10%);
    .card-blockquote {
      background: transparent;
      > p {
        font-size: $stat-font-size;
        font-style: normal;
      }
    }
  }

  .card-footer {
    display: flex;

    .tags {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    .chip {
      padding: 5px;
      margin: 5px;
      background: $white;
      border-radius: 2px;
      color: $accent-color;
    }

    .fav-buttons {
      display: flex;
      float: right;
      margin: 0 10px;
    }
  }
}

.stat-form {
  .stat-form-control {
    padding: 0 15px;

    .btn {
      outline: none;
    }
  }
}

.translation-form {
  border: 1px solid $gray1;
  border-radius: 5px;
  padding: 10px;

  .close-form {
    color: $primary-color;
    cursor: pointer;
  }
}

.settings {
  margin-bottom: 20px;
  .access {
    display: flex;
    width: 100%;

    .form-group {
      flex: 1;

      &:first-child {
        flex: 2;
      }

    }

    label {
      color: #eee;
    }

    .cta {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 16px;
    }

    .btn {
      margin-left: 10px;
    }
  }

}
